{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <!--<link href="{% static "css/site.css" %}" rel="stylesheet" />-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "assets/img/favicons/apple-touch-icon-57x57.png" %}" />
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "assets/img/favicons/apple-touch-icon-60x60.png" %}" />
	<link rel="icon" type="image/png" href="{% static "assets/img/favicons/favicon-32x32.png" sizes="32x32" %}" />
	<link rel="icon" type="image/png" href="{% static "assets/img/favicons/favicon-16x16.png" sizes="16x16" %}" />
	<link rel="manifest" href="{% static "assets/img/favicons/manifest.json" %}"/>
	<link rel="shortcut icon" href="{% static "assets/img/favicons/favicon.ico" %}" />
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="{% static "assets/img/favicons/browserconfig.xml" %}" />
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/normalize.css" %}" />
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.css" %}" />
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/owl.css" %}" />
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/animate.css" %}" />
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/fonts/font-awesome-4.1.0/css/font-awesome.min.css" %}" />
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/fonts/eleganticons/et-icons.css" %}" />
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/cardio.css" %}" />
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}


{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
	<script src="{% static "assets/js/owl.carousel.min.js" %}"></script>
	<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
	<script src="{% static "assets/js/wow.min.js" %}"></script>
	<script src="{% static "assets/js/typewriter.js" %}"></script>
	<script src="{% static "assets/js/jquery.onepagenav.js" %}"></script>
	<script src="{% static "assets/js/main.js" %}"></script>
    <!--<script src="{% static "js/site.js" %}"></script>-->

{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
