{% extends "site_base.html" %}

{% load i18n %}
{% load i18n %}
{% load account_tags %}
{% load staticfiles %}



{% block body_base %}
<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">By Using High Performance Computing</h3>
							<h1 class="white typed">We Analyse and Visualize Social Media Data</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="black heading">Social Media </h5>
						<div class="owl-carousel owl-schedule bottom">
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular black"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white"> </h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white"> </h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="black heading hide-hover">Visualization</h5>
						<div class="bottom">
							<h4 class="black heading small-heading no-margin regular">Register Today</h4>
							<h4 class="black heading small-pt"> </h4>
							<a href="#" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">High performance Computing</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content"> </h4>
								<h5 class="white heading light author"> </h5>
							</div>
							<div class="item">
								<h4 class="white heading content"> </h4>
								<h5 class="white heading light author"> </h5>
							</div>
							<div class="item">
								<h4 class="white heading content"> </h4>
								<h5 class="white heading light author"></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Services</h2>
				<h4 class="light muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
			</div>
			<div class="row services">
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="{% static "assets/img/Logomakr_0N4c4T.png" %}" alt="" class="icon">
						</div>
						<h4 class="heading">lorem ipsum</h4>
						<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="{% static "assets/img/Logomakr_6DZnSF.png" %}" alt="" class="icon">
						</div>
						<h4 class="heading">lorem ipsum</h4>
						<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="{% static "assets/img/Logomakr_6DZnSF.png" %}" alt="" class="icon">
						</div>
						<h4 class="heading">lorem ipsum</h4>
						<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="cut cut-bottom"></div>
	</section>
{% endblock %}
